html, body {
  font-size: 16px;
   height: auto; /* This will set the height of the body element to be the same as the height of its content */
    background-color:  #181821;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-weight: normal;
  font-style: normal;
}


.header-bg {
  position: fixed; 
  top: 0; /* this will align the top of the element with the top ofthe page */
  left: 0; /* this will align the left of the element with the left of the page */
  width: 100%; /* this will make the element as wide as the page */
  height: 8vw; /* this will make the element as tall as the header */
  background: linear-gradient(to bottom, #181821 80%, transparent); 
  z-index: 9; /* this will make sure the element is behind the header */
  overflow: hidden;
}


#nav-menu{
  position: fixed;
  top:1vw;
  right:5vw;
  width: 33vw;
  height:6vw;  
  z-index: 14;
}

#nav-menu ul {
  position: relative;
  display: flex;
  top: calc((6vw - 5.5vh)/2);
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 15;
}

#nav-menu li {
  flex:1 ;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(1.5vw);
  line-height: 2vh;
  margin: 2vh; 
  text-align: right;
}


#nav-menu li a {
  color: #fefefe; /* This will set the color of the text to the same color as the parent element */
   text-decoration: none;
}

#nav-menu li:hover a {
    color:  #81dee0; /*  This will create a gradient that goes from red to yellow */
}

.logo-container {
  position: fixed; 
  top: 0.5vw;
  left: 0vw;
  width: 7vw;
  height: 7vw;
  background:transparent;
  z-index:12;
}

.logo-container img {
  position: relative;
  width: 100%;
  height: 100%;
}

h2 {
  
  position: fixed;
  width: 100%;
  top:0;
  left:8vw;
  height: 8vw;
  z-index: 10;
   font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  margin-top:1.5vw;;
 padding:  0;
  background-clip: text;
   -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #00bcc2, #ffffff);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease-in-out;
}

.subheading {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: bold;
  padding:  0;
  left:7.5vw;
  background-clip: text;
   -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #00bcc2, #ffffff);
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.5s ease-in-out;
}

.parent-container1 {
  display: grid;
 margin-top: 9vw;
   grid-template-columns:10vw 20vw 5vw 20vw 5vw 20vw 10vw ;
  grid-template-rows: auto auto;
align-items:start;
}

#monkPhoto {
grid-column: 2 / 7;
grid-row: 1 / 2;
  width: 15vw;
height:25vw;
object-fit: cover; 
}

#monkHead {
font-family: 'Hind';
font-size: calc(0.5vw + 12px);

}

#monkBlurb {
 grid-column: 2 / 7;
grid-row: 2 / 2;
 font-family: 'Hind';
font-size: calc(0.5vw + 12px);
color: #fefeffff;
padding-top: 5px;
align-self:start;
justify-self:left;
max-width: 20vw;
 object-fit: contain; 
object-position: 100% 0;
}


#JuberPhoto {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  width: 15vw;
  height:25vw;
  object-fit: cover; 
  object-position: 60% 0;
  }
  
  #juberHead {
  font-family: 'Hind';
  font-size: calc(0.5vw + 12px);
  
  }
  
  #juberBlurb {
   grid-column: 4 / 7;
  grid-row: 2 / 2;
   font-family: 'Hind';
  font-size: calc(0.5vw + 12px);
  color: #fefeffff;
  padding-top: 5px;
  align-self:start;
  justify-self:left;
  max-width: 20vw;
  }

  #MohammadrezaPhoto {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    width: 15vw;
    height:25vw;
    object-fit: cover; 
    object-position: 60% 0;
    }
    
    #MohammadrezaHead {
    font-family: 'Hind';
    font-size: calc(0.5vw + 12px);
    
    }
    
    #MohammadrezaBlurb {
     grid-column: 6 / 7;
    grid-row: 2 / 2;
     font-family: 'Hind';
    font-size: calc(0.5vw + 12px);
    color: #fefeffff;
    padding-top: 5px;
    align-self:start;
    justify-self:left;
    max-width: 20vw;
    }
    
.parent-container2 {
  display: grid;
  margin-top: 3vw;
    grid-template-columns:10vw 20vw 5vw 20vw 5vw 20vw 10vw ;
  grid-template-rows: auto auto;
align-items:start;
 }

#rudnickPhoto {
grid-column: 2 / 7;
grid-row: 1 / 2;
  width: 15vw;
height:25vw;
object-fit: cover; 
}
      
#rudnickHead {
  font-family: 'Hind';
  font-size: calc(0.5vw + 12px);
      
 }
      
#rudnickBlurb {
  grid-column: 2 / 7;
  grid-row: 2 / 2;
  font-family: 'Hind';
  font-size: calc(0.5vw + 12px);
  color: #fefeffff;
  padding-top: 5px;
  align-self:start;
  justify-self:left;
  max-width: 20vw;
}
      
      
      #hentschelPhoto {
        grid-column: 4 / 7;
        grid-row: 1 / 2;
        width: 15vw;
        height:25vw;
        object-fit: cover; 
        object-position: 60% 0;
        }
        
        #hentschelHead {
        font-family: 'Hind';
        font-size: calc(0.5vw + 12px);
        
        }
        
        #hentschelBlurb {
         grid-column: 4 / 7;
        grid-row: 2 / 2;
         font-family: 'Hind';
        font-size: calc(0.5vw + 12px);
        color: #fefeffff;
        padding-top: 5px;
        align-self:start;
        justify-self:left;
        max-width: 20vw;
        }
      
        #moellerPhoto {
          grid-column: 6 / 7;
          grid-row: 1 / 2;
          width: 15vw;
          height:25vw;
          object-fit: cover; 
          object-position: 60% 0;
          }
          
          #moellerHead {
          font-family: 'Hind';
          font-size: calc(0.5vw + 12px);
          
          }
          
          #moellerBlurb {
           grid-column: 6 / 7;
          grid-row: 2 / 2;
           font-family: 'Hind';
          font-size: calc(0.5vw + 12px);
          color: #fefeffff;
          padding-top: 5px;
          align-self:start;
          justify-self:left;
          max-width: 20vw;
          }

  .parent-container3 {
    display: grid;
   margin-top: 3vw;
     grid-template-columns:10vw 20vw 5vw 20vw 5vw 20vw 10vw ;
    grid-template-rows: auto auto;
  align-items:start;
  }

  #ritterPhoto {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    width: 15vw;
    height:25vw;
    object-fit: cover; 
    object-position: 60% 0;
    }
    
    #ritterHead {
    font-family: 'Hind';
    font-size: calc(0.5vw + 12px);
    
    }
    
    #ritterBlurb {
     grid-column: 2 / 6;
    grid-row: 2 / 2;
     font-family: 'Hind';
    font-size: calc(0.5vw + 12px);
    color: #fefeffff;
    padding-top: 5px;
    align-self:start;
    justify-self:left;
    max-width: 20vw;
    }

.academicons {
  font-family: 'Academicons';
  font-size: 1vw;
}

